
<table>
    <tr>
        <td ><a routerLink = "/home"> <span class="glyphicon glyphicon-home"></span> Home</a></td> <td></td>
        <td><a routerLink = "/addStudent"> <span class="glyphicon glyphicon-home"></span> Add Student</a></td><td></td>
        <td><a routerLink = "/studentDetails"> <span class="glyphicon glyphicon-home"></span> Student Details</a></td><td></td>
    </tr>
</table>

<router-outlet></router-outlet>
