<h4>Add New Student</h4>
Student Name : <input type="text" [(ngModel)] = "name"> 
<br>
Address : <input type="text" [(ngModel)] = "address"> 
<br>
Grad : <input type="text" [(ngModel)] = "grade"> 
<br><br>
<button (click) = "saveStudent()"> Save Student </button>
<br>
{{statusMessage}}