<h2>Student Information</h2>

Student Id : <input type ="text" [(ngModel)] = "studentId"> 
<br>
<button (click) = "getStudentDetails()"> Get Details</button>
<br>
<div *ngIf = "student">
    <br>
    Student Name : {{student.studentName}}
    <br>
    Address : {{student.address}}
</div>

